- var page = { id :"404" };

doctype
html(lang="ja")
  head
    include includes/_mixins.pug
    include includes/_meta.pug
    include includes/_includes.pug
  body
    include includes/_nav.pug
    .wrap
      .container
        .row
          .col-12.py-3
            h1 #{page.title}
            p お探しのページは見つかりませんでした。
    include includes/_footer.pug