- var page = { id :"about" };

doctype
html(lang="ja")
  head
    include includes/_findmyself.pug
    include includes/_meta.pug
  body
    include includes/_nav.pug
    div.wrap
      div.container
        div.row
          div.col-12
            div.py-3
              h1 #{page.title}
              :md
                翠巒祭は、今年で65回を迎える伝統のある文化祭です。昨年は約1万3000人のお客様をお迎えして無事終了しました。

                ## テーマについて

                **No SurFace** *(おもてなし)*

                おもてがないで、「おもてなし」。駄洒落です。本当にごめんなさい。

                今年は一般展示開花の年です。これまで本気を出してこなかった一般展示班が、ようやく本気を出すのです。

                高高生の本当の姿を、アーチ、イベント、模擬店共々ぜひお楽しみください。