- var page = { id :"access" };

doctype
html(lang="ja")
  head
    include includes/_mixins.pug
    include includes/_meta.pug
    include includes/_includes.pug
  body
    include includes/_nav.pug
    .container
      .py-3
        h1.my-2 #{page.title}
        .embed-responsive.embed-responsive-21by9.mb-3
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid=1vBl_eX38GpKpCYiVgD3JfPg-7eY"></iframe>
        h2#shuttle
         +fa("bus")
         | 無料シャトルバス
        p <b>南小学校より</b>高崎高校まで、無料のシャトルバスで会場までご案内致します。
        p バスの時刻表はありませんが、およそ10～20分間隔で運行しております。
        p バスの乗車時間は、両日とも<b>開場20分前</b>から<b>17時まで</b>です。この時間帯にお並びください。
        p 終了間際は大変混雑致します。運行間隔がずれることがあります。
        p 高崎駅から南小学校までの順路は以下の地図のとおりです。何かありましたら黒いTシャツの実行委員にお声掛けください。
        p 高高のバス待合場所はパンフレットにてご確認ください。
        p.text-danger: b 南小学校に駐車場の用意はございません。
        .embed-responsive.embed-responsive-21by9.mb-3
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid=1CscodCPl3tv2PJmjJpYHqk4FWWE"></iframe>
        h2
          +fa("bicycle")
          | 自転車
        p.text-danger
          b 高チャリ範囲外ですので、高チャリで和田橋を渡ることはできません。
        p 会場内に駐輪場を開設しております。
        h2.mt-3
          +fa("car")
          | お車
        p 会場の近くまでお越しください。黒いTシャツを着た実行委員が、駐車場へご案内致します。
        p 路上やコンビニ等、指定の駐車場以外への駐車は近隣の方の迷惑となりますのでご遠慮ください。
        ul
          li <b>第1駐車場</b> 高高の駐車場です。
          li <b>第2駐車場</b> 学校の南側、護国神社の横にあります。
          li <b>第3駐車場</b> 護国神社鳥居横です。
          li <b>第5駐車場</b> 聖石橋下です。一番広い駐車場ですので、保護者の方はこちらをご利用ください。
        .embed-responsive.embed-responsive-21by9.mb-3
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid=1vNKwSWLOZ5LaQ1hbuuDp1Hf_FWU"></iframe>
    include includes/_footer.pug