- var page = { title: 'アクセス', description: '当日運行される高崎駅からの無料シャトルバス等について記載しております。ぜひご一読ください。', keywords: 'スイラン祭', url: 'access.html' };

doctype
html(lang="ja")
  head
    include includes/_meta.pug
  body
    h1.sitettl #{page.title}
    main.main
      h2.content_ttl 1日目 #{fes.Day1.startDate}