- var page = { title: 'アクセス', description: '当日運行される高崎駅からの無料シャトルバス等について記載しております。ぜひご一読ください。', keywords: 'スイラン祭', url: 'access.html' };

doctype
html(lang="ja")
  head
    include includes/_meta.pug
  body
    include includes/_nav.pug
    div.wrap
      div.container
        div.row
          div.col-12
            h1 #{page.title}