- var page = { id :"food" };

doctype
html(lang="ja")
  head
    include includes/_script.pug
    include includes/_meta.pug
  body
    include includes/_nav.pug
    .wrap
      .container
        .row
          .col-12
            .py-3
              h1 #{page.title}
              - for (var i in fes.foods) {
              p
                b #{fes.foods[i].title}
                br
                - for (var j in fes.foods[i].kinds) {
                | #{fes.foods[i].kinds[j].title} : #{fes.foods[i].kinds[j].price}
                br
                - }
              - }
    include includes/_footer.pug