- var page = { id :"index" };

doctype
html(lang="ja")
  head
    include includes/_findmyself.pug
    include includes/_meta.pug
  body
    include includes/_nav.pug
    div.wrap.-top-first
      div.container
        div.row
          div.col-12
            h1 #{site.title}
            p.-top-theme #{site.theme} ～ 
              span.-top-themeinjap #{site.themeinjap}