- var page = { id :"invmatch" };

doctype
html(lang="ja")
  head
    include includes/_mixins.pug
    include includes/_meta.pug
    include includes/_includes.pug
  body
    include includes/_nav.pug
    #barba-wrapper: .barba-container
      .container: .py-3
        h1 #{page.title}
        p!=page.description

      .wrap
        .container
          .row
            .col-12.col-xl-6
              +_invmatch_tabcontent(1)
            .col-12.col-xl-6
              +_invmatch_tabcontent(2)

    include includes/_footer.pug