- var page = { id :"radio" };

doctype
html(lang="ja")
  head
    include includes/_mixins.pug
    include includes/_meta.pug
    include includes/_includes.pug
  body
    include includes/_nav.pug
    #barba-wrapper: .barba-container: .wrap
      .container
        .row
          .col-12.py-3
            h1 #{page.title}
            p!=page.description
            p または
              a.btn.btn-warning(href="https://survey.suiranfes.com/325545", target="_blank") 別のタブで開く
            .embed-responsive.embed-responsive-1by1
              iframe.embed-responsive-item(src="https://survey.suiranfes.com/325545", allowfullscreen)
    include includes/_footer.pug