html
body
  margin: 0
  padding: 0
  background-color: site-colorpalet-bg
  @extend .bgimg-g

body
  nav
    position: sticky !important
    top: 0
    left: 0
    z-index: 1030
    .nav-link.dropdown-toggle
      height: auto

i
  display: inline-block

.card-brown
  background-color: #6d4c41
  border-color: #6d4c41
  color: white

.badge-brown
  background-color: #6d4c41

.sticky-bottom
  position: sticky
  bottom: 0

.wrap
  min-height: 74vh
  overflow-x: hidden
  display: block

.btn
  text-shadow: none !important

.navbar-nav
  width: 100%

.modal-footer
  form
    width: 100%

.loading
  background-color: #ececec
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 999999
  text-align: center
  font-family: -apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,Arial,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'游ゴシック',YuGothic,sans-serif

.fontloader
  .a
    font-weight: 200
  .b
    font-weight: 400
  .c
    font-weight: 700


.t-0100em
  font-size: 1em !important
.t-0150em
  font-size: 1.5em !important
.t-0200em
  font-size: 2em !important
.t-0350em
  font-size: 3.5em !important

.fw-100
  font-weight: 100 !important
.fw-200
  font-weight: 200 !important
.fw-300
  font-weight: 300 !important
.fw-400
  font-weight: 400 !important
.fw-500
  font-weight: 500 !important
.fw-600
  font-weight: 600 !important
.fw-700
  font-weight: 700 !important
.fw-800
  font-weight: 800 !important
.fw-900
  font-weight: 900 !important

/*
*
* footer
*
*/

.-footer-share
  color: #e7e7e7
  background-color: site-colorpalet-suiran-blue
  min-height: 12vh
  @extend .bgimg-n

footer
  color: #e7e7e7
  background-color: #6b1a14
  @extend .bgimg-g
  fn-textshadow( 10px , site-colorpalet-theme )