html
body
  margin: 0
  padding: 0
  background-color: site-colorpalet-bg
  @extend .bgimg-g

body
  nav
    position: sticky !important
    top: 0
    left: 0
    z-index: 1030

.bg-suiranfes
  background-color: site-colorpalet-theme !important

.bg-white
  background-color: white !important
  color: #212121 !important

.bg-dark
  background-color: #212121 !important
  color: white !important

.card-brown
  background-color: #6d4c41
  border-color: #6d4c41
  color: white

.badge-brown
  background-color: #6d4c41

.sticky-bottom
  position: sticky
  bottom: 0

.wrap
  min-height: 77vh
  overflow-x: hidden
  display: none

.btn
  text-shadow: none !important

.navbar-nav
  width: 100%

.modal-footer
  form
    width: 100%

.loading
  background-color: #ccc
  color: black
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 999999
  text-align: center
  font-family: -apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,Arial,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'游ゴシック',YuGothic,sans-serif

.fontloader
  .a
    font-weight: 200
  .b
    font-weight: 400
  .c
    font-weight: 700
/*
*
* footer
*
*/

.-footer-share
  color: #e7e7e7
  background-color: site-colorpalet-suiran-blue
  min-height: 12vh
  @extend .bgimg-n

footer
  color: #e7e7e7
  background-color: #6b1a14
  @extend .bgimg-g
  fn-textshadow( 10px , site-colorpalet-theme )