html
body
  margin: 0
  padding: 0
  overflow-x: hidden
  background-color: site-colorpalet-bg
  @extend .bgimg-g

.bg-suiranfes
  background-color: site-colorpalet-theme !important

.wrap
  min-height: 94vh
  padding-top: 72px
  display: none

.loading
  background-color: #ddd
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 999999
  text-align: center
  font-family: -apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,Arial,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'游ゴシック',YuGothic,sans-serif

.fontloader
  .a
    font-weight: 200
  .b
    font-weight: 400
  .c
    font-weight: 700

/*
*
* footer
*
*/
footer
  color: #e7e7e7
  background-color: #6b1a14
  @extend .bgimg-g
  fn-textshadow( 10px , site-colorpalet-theme )