@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 800;

    src: url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Heavy.woff2) format('woff2'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Heavy.woff) format('woff'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Heavy.ttf) format('truetype');
}
@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 700;

    src: url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Bold.woff2) format('woff2'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Bold.woff) format('woff'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Bold.ttf) format('truetype');
}
@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 500;

    src: url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Medium.woff2) format('woff2'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Medium.woff) format('woff'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Medium.ttf) format('truetype');
}
@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 400;

    src: url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Regular.woff2) format('woff2'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Regular.woff) format('woff'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Regular.ttf) format('truetype');
}
@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 300;

    src: url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Normal.woff2) format('woff2'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Normal.woff) format('woff'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Normal.ttf) format('truetype');
}
@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 200;

    src: url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Light.woff2) format('woff2'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Light.woff) format('woff'), url(https://2017.suiranfes.com/assets/fonts/GenShinGothic-Light.ttf) format('truetype');
}
@font-face
{
    font-family: 'irohakakuC-w';
    font-weight: 200;

    src: url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Light.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Light.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Light.ttf) format('truetype');
}
@font-face
{
    font-family: 'irohakakuC-w';
    font-weight: 400;

    src: url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Regular.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Regular.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Regular.ttf) format('truetype');
}
@font-face
{
    font-family: 'irohakakuC-w';
    font-weight: 500;

    src: url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Medium.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Medium.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Medium.ttf) format('truetype');
}
@font-face
{
    font-family: 'irohakakuC-w';
    font-weight: 700;

    src: url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Bold.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Bold.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Bold.ttf) format('truetype');
}
@font-face
{
    font-family: 'irohakakuC-w';
    font-weight: 800;

    src: url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Heavy.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Heavy.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/irohakakuC-Heavy.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 200;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-light.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-light.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-light.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 400;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-regular.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-regular.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-regular.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 500;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-medium.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-medium.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-medium.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 700;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-bold.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-bold.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-bold.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 800;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-heavy.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-heavy.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-heavy.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 900;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-black.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-black.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-p-black.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 200;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-light.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-light.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-light.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 400;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-regular.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-regular.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-regular.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 500;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-medium.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-medium.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-medium.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 700;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-bold.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-bold.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-bold.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 800;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-heavy.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-heavy.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-hevay.ttf) format('truetype');
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 900;

    src: url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-black.woff2) format('woff2'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-black.woff) format('woff'), url(https://2017.suiranfes.com/files/2017/fonts/mgenplus-c-black.ttf) format('truetype');
}
