/*
*
* index
*
*/
/*
*
* LEFT
*
*/

.-index-left
  text-align: right

  .-index-title
    font-size: 2.8em

  .-index-theme
    font-size: 2.5em
    font-weight: 700

  .-index-themeinjap
    font-size: 1.5em

  .-index-date
    font-weight: 700

    .-index-date-m
      font-size: 1.5em

    .-index-date-day1num
    .-index-date-day1Sat
    .-index-date-day2num
    .-index-date-day2Sun
      font-size: 1.7em

    .-index-date-day1Sat
      color: blue

    .-index-date-day2Sun
      color: red

/*
*
* MIDDLE
*
*/

.-index-middle

  .list-group-item
    @extend .bgimg-s

  .list-group-item:nth-child(7)
  .list-group-item:last-child
    text-align: center !important
    b
      text-align: inherit
      width: 100%

  .list-group-item:nth-child(n+8)
    display: none

  .list-group-item.active
    @extend .bgimg-n

/*
*
* RIGHT
*
*/

.-index-right
  @extend .bgimg-n
  background-color: lighten(#94B78D,35%)

  a
    display: block
    color: white
    width: 100%
    overflow: hidden

    &.Events
    &.Gym
      @media screen and ( min-width:768px )
        width: 50%

    &:link
    &:visited
      color: black
    
    &:active
    &:focus
    &:hover
      color: maroon
      text-decoration: none
      filter: none !important

  .-index-pickups-wrap
    padding: 1.25rem
    transition-timing-function: ease !important
    transition-duration: .25s !important
    transition-property: all !important
    position: relative
    background-image: url(-top-bgimg-saya)
    background-size: 96px 96px
    box-shadow: 0 0 5px white
    z-index: 3

    &:hover
      box-shadow: 0 0 5px black

    &.Attention
      color: white
      background-color: darken(orange,10%)
      padding: 3rem 1.25rem

      &:hover
        color: white
        background-color: darken(yellow,70%)
    
    &.Bus
      color: white
      background-color: #85c600

      &:hover
        color: white
        background-color: darken(yellowgreen,70%)
    
    &.Food
      color: white
      background-color: #24d8d8

      &:hover
        color: white
        background-color: darken(cyan,70%)
    
    &.Pantene
      color: white
      background-color: site-colorpalet-theme

      &:hover
        color: white
        background-color: darken(site-colorpalet-theme,70%)
    
    &.Events
      color: white
      background-color: lighten(blue,10%)

      &:hover
        color: white
        background-color: darken(blue,70%)
    
    &.Gym
      color: white
      background-color: lighten(magenta,10%)

      &:hover
        color: white
        background-color: darken(magenta,70%)

    .-index-pickups
      &:hover
      &:active
      &:focus
        filter: none !important
      .-index-pickups-head
        font-size: 2em
        font-weight: 700
        &:hover
        &:active
        &:focus
          filter: none !important
      .-index-pickups-desc
        font-size: 1.25em
        font-weight: 200
        &:hover
        &:active
        &:focus
          filter: none !important