.btn-tweet
  background-color: #1da1f2
  color: #f5f8fa !important
.btn-tweet:hover
  background-color: darken(#1da1f2,10%)
  color: #f5f8fa !important
.btn-line
  background-color: #00c300
  color: #ffffff !important
.btn-line:hover
  background-color: darken(#00c300,10%)
  color: #ffffff !important
.btn-facebook
  background-color: #ffffff
  color: #3b5998 !important
.btn-facebook:hover
  background-color: darken(#ffffff,10%)
  color: #3b5998 !important
.btn-gplus
   background-color: #ffffff
   color: #dd4b39 !important
.btn-gplus:hover
   background-color: darken(#ffffff,10%)
   color: #dd4b39 !important
.btn-gplus
  div
    vertical-align: middle !important
    margin: -8px -2rem 0 0 !important
.btn-hatena
  background-color: #008fde
  color: #ffffff !important
.btn-hatena:hover
  background-color: darken(#008fde,10%)
  color: #ffffff !important
.btn-twitter-f
  background-color: #f5f8fa
  color: #1da1f2 !important
.btn-twitter-f:hover
  background-color: darken(#f5f8fa,10%)
  color: #1da1f2 !important
.btn-fbaccount
  background-color: #ffffff
  color: #3b5998 !important
.btn-fbaccount:hover
  background-color: darken(#ffffff,10%)
  color: #3b5998 !important
.btn-lineat
  background-color: #ffffff
  color: #00c300 !important
.btn-lineat:hover
  background-color: darken(#ffffff,10%)
  color: #00c300 !important
.btn-insta
  background-color: #ffffff
  color: #00c300 !important
.btn-insta:hover
  background-color: darken(#ffffff,10%)
  color: #00c300 !important
.btn-youtube-f
  background-color: #ffffff
  color: #cd201f !important
.btn-youtube-f:hover
  background-color: darken(#ffffff,10%)
  color: #cd201f !important