.-tabemon-nav-wrap
  overflow-x: auto
  width: 100%
  box-shadow: 0 0 3px #000
  ul
    min-width: 400px

.-food-card-wrap
    flex: auto

.-tabemon-common-wrapper
  box-shadow: 0 0 3px #000
  border-radius: .25rem

  > div > div
    .card.-tabemon-card
    .card-header
      border-radius: 0

    &:last-child
      .card.-tabemon-card
        .card-header
          border-bottom: 0 !important

    &:not(:first-child):not(:last-child)
      .card.-tabemon-card
        border-bottom: 0 !important
  