@import 'nib'
@charset "UTF-8";

/*!
*
* 群馬県立高崎高等学校 第65回翠巒祭
* Copyright 2017 Gunma Pref. Takasaki High School the 65th Suiran Festival
*
*/

h1
  color: red
  font-size: 2em

.-index-pickups-wrap
  border-radius: 10px
  border: medium solid red
  box-shadow: 1px 0 0 #000
  padding: 1em
  &.Attention
    border-color: yellow
  .-index-pickups
    .-index-pickups-head
      font-size: 2em
      font-weight: 700
    .-index-pickups-desc
      font-size: 1.25em
      font-weight: 200