@charset "UTF-8";
@import '_setting'
/*!
*
* 群馬県立高崎高等学校 第65回翠巒祭
* Copyright 2017 Gunma Pref. Takasaki High School the 65th Suiran Festival
*
*/

html
body
  margin: 0
  padding: 0
  overflow-x: hidden
  background-color: site-colorpalet-bg
  background-image: url(bgimg-n)

.bg-suiranfes
  background-color: site-colorpalet-theme !important

.wrap
  min-height: 94vh
  padding-top: 72px
/*
*
* footer
*
*/
footer
  background-color: #6b1a14
  color: #e7e7e7