
AddEncoding gzip .svgz

AddType application/font-woff2 woff2
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

Header set Pragma no-cache
Header set Cache-Control no-cache

<Files ~ "\.(jpg|jpeg|gif|png|woff|woff2|svgz)$">
Header set Cache-Control "max-age=7200, public"
</Files>

<Files ~ "files/*$">
Header set Cache-Control "max-age=315360000, public"
</Files>
Header set Strict-Transport-Security "max-age=315360000; includeSubDomains; preload"
RewriteCond %{HTTP_HOST} ^2017.suiranfes.com$
RewriteCond %{HTTPS} off
RewriteRule ^(.*) https://2017.suiranfes.com/$1 [R=301,L]
Header set Access-Control-Allow-Origin *